# Tracking directories
.svn/
.git/

.DS_Store
# MOOS files
MOOSLog*
bin/
build/
lib/
.LastOpenedMOOSLogDirectory
LOG_*/
cmake-build-debug/
targ_*
.idea
CMakeFiles

# python files
*.pyc 

# Legacy trained folders
**/trained/*
**/generated_files*/*

# Any data folders
**/.last_manager_log/*

# Weights and biases
**/wandb/*

# Files generated during python testing
src/python_module/test/.generated/**

# Python distribution stuff
**/*.egg-info/