# Tracking directories
.svn/
.git/

.DS_Store
# MOOS files
MOOSLog*
bin/
build/
lib/
.LastOpenedMOOSLogDirectory
LOG_*/
cmake-build-debug/
targ_*
.idea
CMakeFiles

# python files
*.pyc 

# Any trained model folder
**/trained/*

# Weights and biases
**/wandb/*

# Files generated during python testing
src/python_module/test/.generated/**